body {
  font-family: "Neucha";
}

#col {
  border: 1px solid black;
  border-radius: 3px;
  margin: 3px;
  text-align: center;
  padding: 10px;
  background-color: #2f3e4f;
  color: white;
}
h2 {
  font-size: 1.5em;
}

#value {
  font-size: 3em;
  color: orange;
}

#statusValue {
  font-size: 1.4em;
  color: orange;
}

#button {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}
#button:hover {
  background-color: #2f3e4f;
  color: orange;
}
#header {
  font-family: "Neucha";
  background-color: #2f3e4f;
  color: white;
  text-align: center;
}

img {
  margin: 3px;
}

@media (min-width: 320px) {
  #statusValue {
    font-size: 3em;
  }
}

@media (min-width: 576px) {
  #statusValue {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  #statusValue {
    font-size: 1.3rem;
  }
}
